body {
    background-color: #403f44;
    color: #eee;
    /*font-family: 'Times new roman', serif;*/
    font-family: source-sans-pro, sans-serif;
    width: 50%;
    margin: 1em auto 5em;
}

h1 {
    font-family: noto-serif, serif;
    font-style: Bold;
    /*letter-spacing: 3em;*/
}

h2 {
    font-family: noto-serif, serif;
}

@media(max-width:500px){
    body {
        width: 80%;
    }
}
header {
    text-align: center;
    margin: 4em auto 4em;
    color: #eb9f5d;
}
section {
    margin-bottom: 3em;
}
::selection {
    color: #403f44;
    background-color: #eee;
}
a {
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: #fff;
}
h2 {
    text-transform: capitalize;
    color: #eac6a6;
}

li {
    margin: 6px 0;
}
